*{
    box-sizing:border-box;
}


body{

    margin:0;

    min-height:100vh;

    background:#081229 !important;

    color:white;

    font-family:Arial,sans-serif;

}



.admin-container{

    width:90%;

    max-width:700px;

    margin:40px auto;

    padding:30px;

    background:rgba(255,255,255,0.08);

    border-radius:25px;

    border:1px solid rgba(255,216,107,0.5);

    box-shadow:0 10px 30px rgba(0,0,0,.5);

}



h1{

    text-align:center;

    color:#ffd86b;

}



h3{

    color:#ffd86b;

}





select,
textarea{

    width:100%;

    padding:15px;

    margin:12px 0;

    background:#101d3d !important;

    color:white !important;

    border:1px solid #ffd86b;

    border-radius:15px;

    font-size:16px;

}





select option{

    background:#081229;

    color:white;

}





textarea{

    min-height:250px;

}





button{

    width:100%;

    padding:16px;

    background:#ffd86b;

    color:#081229;

    border:none;

    border-radius:30px;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

}





button:hover{

    transform:scale(1.03);

}





#uploadResult{

    margin-top:20px;

    padding:20px;

    background:#101d3d;

    color:white;

    border-radius:20px;

    border:1px solid #ffd86b;

}
