*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}


body{

    min-height:100vh;
    background:linear-gradient(135deg,#020617,#1e3a8a);
    padding:20px;

}



.leader-container{

    max-width:700px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:25px;
    box-shadow:0 15px 35px rgba(0,0,0,0.3);

}



h1{

    text-align:center;
    color:#1e3a8a;
    margin-bottom:10px;

}



h2{

    text-align:center;
    margin:15px 0;
    color:#334155;

}





.student-filter{

    text-align:center;
    margin-bottom:20px;

}



#testFilter{

    width:90%;
    padding:12px;
    border-radius:12px;
    border:2px solid #2563eb;
    font-size:16px;

}





.leader-card{

    background:#f8fafc;
    margin:15px 0;
    padding:20px;
    border-radius:18px;
    border-left:6px solid #2563eb;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);

}



.leader-card h2{

    color:#1e3a8a;

}



.leader-card h3{

    margin:10px 0;
    color:#020617;

}



.leader-card p{

    margin:8px 0;
    color:#475569;

}



#districtRank .leader-card{

    border-left-color:#f59e0b;

}




button{

    width:100%;
    padding:14px;
    margin-top:20px;
    border:none;
    border-radius:12px;
    background:#1e3a8a;
    color:white;
    font-size:16px;
    font-weight:bold;

}



button:hover{

    background:#2563eb;

}




@media(max-width:600px){


.leader-container{

padding:15px;

}


}
