*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}


body{

    min-height:100vh;

    background:
    linear-gradient(135deg,#020617,#1e3a8a);

    padding:20px;

}




.profile-container{

    max-width:500px;

    margin:auto;

    background:white;

    padding:25px;

    border-radius:25px;

    text-align:center;

    box-shadow:
    0 15px 35px rgba(0,0,0,0.35);

}





.logo-area{

    margin-bottom:15px;

}



.profile-logo{

    width:120px;

    height:120px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid gold;

    box-shadow:
    0 0 25px rgba(255,215,0,0.7);

}





h1{

    color:#1e3a8a;

    margin-bottom:5px;

}



h2{

    color:#64748b;

    margin-bottom:20px;

}






.profile-card{

    background:#f8fafc;

    padding:20px;

    border-radius:20px;

    text-align:left;

}





.profile-card h3{

    color:#1e3a8a;

    margin-top:15px;

}



.profile-card p{

    background:white;

    padding:10px;

    border-radius:10px;

    margin-top:5px;

    color:#334155;

    font-weight:bold;

}





button{

    width:100%;

    padding:14px;

    margin-top:20px;

    border:none;

    border-radius:12px;

    background:#1e3a8a;

    color:white;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

}



button:hover{

    background:#2563eb;

}

/* SOCIAL ICONS */

.social-icons{

    display:flex;

    justify-content:center;

    gap:15px;

    margin-top:20px;

    margin-bottom:10px;

}


.social{

    width:45px;

    height:45px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

    color:white;

    transition:0.3s;

}


.social:hover{

    transform:scale(1.1);

}


/* YouTube */

.youtube{

    background:#ff0000;

}


/* Telegram */

.telegram{

    background:#0088cc;

}


/* Email */

.email{

    background:#64748b;

}


.social-icons a{

    text-decoration:none;

}


@media(max-width:600px){


.profile-container{

    padding:15px;

}


.profile-logo{

    width:100px;

    height:100px;

}


}
